.svn
.DS_Store
nbproject
exclude-list.txt
exclude-list.txt~
/media/budget_media/*
/app/etc/local.xml
/app/etc/local.remote.xml
RELEASE_NOTES.txt
LICENSE_AFL.txt
LICENSE.txt
LICENSE.html
.viminfo
.htaccess.sample
.bash_history
php.ini.sample
/tests
/var/session/*
/var/cache/*
/var/log/*
/var/locks/*
/var/report/*
UnitTests.php
index.php.sample
magento-db-repair-tool-1.0.php
events.txt
magento-cleanup.php
magento-cleanup.php~
rsyncTRUNK.sh
rsyncINT.sh
cronsync.sh
fetchProfPictures.php
info.php
install.php
drop.sh